
:root {
    --white-color: #ffff;
    --blue-color: #4C6EF5;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    height: 7%;
    background-color: #212529;
    color: var(--white-color);
    font-size: 28px;
    line-height: 44px;
    border-bottom: 3px solid var(--blue-color);
    font-family: 'Inter', sans-serif;
    position: sticky;
    top: 0;
}

.header__button {
    background-color: transparent;
    border: 1px solid var(--white-color);
    padding: 0.8%;
    color: var(--white-color);
}

.header__button:hover {
    background-color: var(--blue-color);
    cursor: pointer;
}