/* ------------------------------- Coloque sua estilização aqui ------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
outline: none;
}

body {
    height: 98.5vh;
    width: 98.5vw;
}